.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Prevent scrolling */
}

.page-container {
  display: flex;
  width: 200vw; /* Two pages side-by-side */
  height: 100vh;
  transition: transform 1s ease-in-out;
  transform: translateX(0);
}

.page-container.show-next {
  transform: translateX(-100vw);
}

.page {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
}